h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    color: var(--j-text);
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-md {
    font-size: 1rem;
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.line-through {
    text-decoration: line-through;
}

.bold {
    font-weight: 700;
}