@use './core';

.checkout {
    .left {
        width: 60%;
        padding: 0.5rem;
    }
    .right {
        width: 40%;
        padding: 0.5rem;
        border-left-width: 1px;
    }

    max-width: 1024px;
    
    .contactDetails, .deliveryAddress {
        max-width: 32rem;
    }


    .shippingMethods {

        .shippingMethodItem {

            border: 1px solid var(--j-input-border);
            border-radius: 3px;

            //height: 3rem;

            margin: 5px;
            padding: 10px 10px;

            display: flex;
            flex-direction: row-reverse;

            align-items: center;

            font-size: 0.9rem;
            font-weight: 700;

            cursor: pointer;

            &:has(input:checked) {
                border-color: #6F6F6F;
                border-width: 1px;
                background-color: #e6e1e1;
            }

            label {
                position: relative;
                top:unset;
                left: unset;
                display: block;
                margin: 0;
                padding: 0;
                flex-grow: 1;

                font-size: 0.9rem;
                background-color: transparent;
                cursor: pointer;
            }

            input[type="radio"] {
                width:fit-content;
                margin-right: 1rem;

                cursor: pointer;
                //height: 1rem;
                //flex-grow: 0;
            }
        }
    }
}

.checkoutStepContainer {
    border-bottom: 1px solid var(--j-checkout-step-border);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    .stepHeader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        margin-bottom: 0.5rem;

        //border-bottom: 1px solid var(--j-checkout-step-border);
        padding-bottom: 0.25rem;

        &.isClosed {
            
            border-bottom: none;
        }

        .stepNumber {
            border-radius: 100%;
            background-color: bisque;
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.5rem;
            text-align: center;
            vertical-align: middle;
            font-size: 0.8rem;
            padding: 0;;
            line-height: 1.4rem;
        }

        .stepTitle {
            flex-grow: 1;
        }
        
        .summaryText {
            width: 100%;
            font-size: 0.8rem;
            color: var(--j-text-light);
            margin-left: 2rem;
            margin-top: 0.25rem;
        }

        .openButton {
            width: 1rem;
            height: 1rem;

            cursor: pointer;

            &.isOpen {
                transform: rotate(180deg);
            }
        }

    }

    .stepContent {
        
        &.isClosed {
            height: 0px;
            //transform: scaleY(0);
            transition: height 1.5s ease-out;
            overflow: hidden;
            //display: none;
        }
    }

    .stepFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        button {
            @extend %button;
        }
    }
}
