.close-button {

  width: 1.5rem;
  height: 1.5rem;
  margin:  0.25rem;

  border-radius: 50%;
  border: none;

  padding: 0;
  align-items: center;
  box-sizing: border-box;

  &:hover {
    background-color: var(--j-button-bg-hover);
  }
}

