%drop-shadow {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
}

%button {
    box-sizing: border-box;

    border-radius: 8px;

    border-width: 1px;
    //border-radius: 0.25rem;

    padding-left: 1rem; 
    padding-right: 1rem; 

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: var(--j-button-bg);
    border-color: var(--j-button-border);
    color: var(--j-button-text);

    &:hover {
        background-color: var(--j-button-bg-hover);
        border-color: var(--j-button-border-hover);
        font-weight: 500;
    }

    &:disabled, &.disabled {
        //opacity: 0.5;
        cursor: not-allowed;
        background-color: var(--j-button-disabled-bg);
        border-color: var(--j-button-disabled-border);
        color: var(--j-button-disabled-text);
        font-weight: normal;
    }

    &.error {
        background-color: var(--j-button-error-bg);
        border-color: var(--j-button-error-border);
        color: var(--j-button-error-text);

        &:hover {
            background-color: var(--j-button-error-bg-hover);
            border-color: var(--j-button-error-border-hover);
        }
    }
}

%text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

%text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.drop-shadow {
    @extend %drop-shadow;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}