.marketSelector {
    //py-1 px-1
    padding: 0.25rem;

    .items {
        //mb-2 py-2 px-2 border
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--j-button-border);
    }
}