.overlay {
    //fixed left-0 right-0 top-0 bottom-0 bg-black transition-opacity duration-800 ease-in opacity-0
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: black;
    opacity: 0;

    transition-delay: 200ms;
    transition: opacity 600ms ease-in;

    &.show {
        opacity: 0.5;
        z-index: 100;
    }

    &.hide {
        opacity: 0;
        display: none;
        //z-index: -1;
    }
}