name: Publish jhoose commerce core package
on:
  workflow_dispatch:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
    
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          # Defaults to the user or organization that owns the workflow file
          scope: '@jhoose-commerce'
        if: github.ref == 'refs/heads/main'
      - run: npm ci
        working-directory: ./src/site
      - run: npm ci
        working-directory: ./src/site/packages/core
      - run: npm publish --provenance --access public
        working-directory: ./src/site/packages/core
